<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
      <div style="white-space: normal;">
        LOGIN
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" [fullscreen]="true">
  <br>
  
  <ion-title>
    <div style="white-space: normal;">
      BADAN PUSAT STATISTIK
    </div>
  </ion-title>

  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>SILAHKAN LOGIN UNTUK MENGOLAH DATA</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list class="ls">
        <ion-item class="item">
          <ion-label posisition="floating">Username :</ion-label>
          <ion-input type="text" [(ngModel)]="username"></ion-input>
        </ion-item>

        <ion-item class="item">
          <ion-label posisition="floating">Password :</ion-label>
          <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
      </ion-list>

      <ion-button fill="solid" expand="block" (click)="login()">Login</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>