<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
      <div style="white-space: normal;">
        BERANDA
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color='dark' [fullscreen]="true">
  <br>
  
  <ion-title>
    <div style="white-space: normal;">
      Badan Pusat Statistik
    </div>

    <div style="white-space: normal;">
      Kota Madiun
    </div>
  </ion-title>

  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>IDAMAN</ion-card-title>
      <ion-card-subtitle>INFLASI DALAM GENGGAMAN</ion-card-subtitle>
    </ion-card-header>

    <ion-img src="assets/icon.png"></ion-img>

    <ion-card-content>
      Merupakan salah satu media Badan Pusat Statistik Kota Madiun yang berorientasi pada informasi statistik meliputi: <br>
      1. INFLASI BULANAN INI <br>
      2. INFLASI TAHUN KE TAHUN <br>
      3. ANDIL INFLASI
    </ion-card-content>
  </ion-card>
</ion-content>